.card{
    background-color: white;
    box-shadow: 0 0 3px 0 black;
}

.loader-parent {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader {
    height: 80px;
    width: 80px;
    border: 5px solid #e0e0e0;
    border-radius: 50%;
    border-top-color: #c4c4c49d;
    animation: loader-anim 1s linear infinite;
}

table{
    border: 1px solid #cdcdcd
}

@keyframes loader-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}